# IDEs
.vscode/
.idea/
*.code-workspace
.ipynb_checkpoints/

# Intermediate Coverage file
.coverage

# Data files
# data/
output/

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache
__pycache__/

# Virtual environments
venv/
.venv/

.DS_Store

.claude